In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
5      31  female  25.740         0     no   3756.62160
6      46  female  33.440         1     no   8240.58960
7      37  female  27.740         3     no   7281.50560
8      37    male  29.830         2     no   6406.41070
9      60  female  25.840         0     no  28923.13692
10     25    male  26.220         0     no   2721.32080
11     62  female  26.290         0    yes  27808.72510
12     23    male  34.400         0     no   1826.84300
13     56  female  39.820         0     no  11090.71780
14     27    male  42.130         0    yes  39611.75770
15     19    male  24.600         1     no   1837.23700
16     52  female  30.780         1     no  10797.33620
17     23    male  23.845         0     no   2395.17155
18     56    male  40.300         0     no  10602.38500
19     30    male  35.300         0    yes  36837.46700
20     60  female  36.005         0     no  13228.84695
21     30  female  32.400         1     no   4149.73600
22     18    male  34.100         0     no   1137.01100
23     34  female  31.920         1    yes  37701.87680
24     37    male  28.025         2     no   6203.90175
25     59  female  27.720         3     no  14001.13380
26     63  female  23.085         0     no  14451.83515
27     55  female  32.775         2     no  12268.63225
28     23    male  17.385         1     no   2775.19215
29     31    male  36.300         2    yes  38711.00000
...   ...     ...     ...       ...    ...          ...
1308   25  female  30.200         0    yes  33900.65300
1309   41    male  32.200         2     no   6875.96100
1310   42    male  26.315         1     no   6940.90985
1311   33  female  26.695         0     no   4571.41305
1312   34    male  42.900         1     no   4536.25900
1313   19  female  34.700         2    yes  36397.57600
1314   30  female  23.655         3    yes  18765.87545
1315   18    male  28.310         1     no  11272.33139
1316   19  female  20.600         0     no   1731.67700
1317   18    male  53.130         0     no   1163.46270
1318   35    male  39.710         4     no  19496.71917
1319   39  female  26.315         2     no   7201.70085
1320   31    male  31.065         3     no   5425.02335
1321   62    male  26.695         0    yes  28101.33305
1322   62    male  38.830         0     no  12981.34570
1323   42  female  40.370         2    yes  43896.37630
1324   31    male  25.935         1     no   4239.89265
1325   61    male  33.535         0     no  13143.33665
1326   42  female  32.870         0     no   7050.02130
1327   51    male  30.030         1     no   9377.90470
1328   23  female  24.225         2     no  22395.74424
1329   52    male  38.600         2     no  10325.20600
1330   57  female  25.740         2     no  12629.16560
1331   23  female  33.400         0     no  10795.93733
1332   52  female  44.700         3     no  11411.68500
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [5]:
modified_dataset = pd.get_dummies(dataset, drop_first = True)

In [6]:
modified_dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
5      31  25.740         0   3756.62160         0           0
6      46  33.440         1   8240.58960         0           0
7      37  27.740         3   7281.50560         0           0
8      37  29.830         2   6406.41070         1           0
9      60  25.840         0  28923.13692         0           0
10     25  26.220         0   2721.32080         1           0
11     62  26.290         0  27808.72510         0           1
12     23  34.400         0   1826.84300         1           0
13     56  39.820         0  11090.71780         0           0
14     27  42.130         0  39611.75770         1           1
15     19  24.600         1   1837.23700         1           0
16     52  30.780         1  10797.33620         0           0
17     23  23.845         0   2395.17155         1           0
18     56  40.300         0  10602.38500         1           0
19     30  35.300         0  36837.46700         1           1
20     60  36.005         0  13228.84695         0           0
21     30  32.400         1   4149.73600         0           0
22     18  34.100         0   1137.01100         1           0
23     34  31.920         1  37701.87680         0           1
24     37  28.025         2   6203.90175         1           0
25     59  27.720         3  14001.13380         0           0
26     63  23.085         0  14451.83515         0           0
27     55  32.775         2  12268.63225         0           0
28     23  17.385         1   2775.19215         1           0
29     31  36.300         2  38711.00000         1           1
...   ...     ...       ...          ...       ...         ...
1308   25  30.200         0  33900.65300         0           1
1309   41  32.200         2   6875.96100         1           0
1310   42  26.315         1   6940.90985         1           0
1311   33  26.695         0   4571.41305         0           0
1312   34  42.900         1   4536.25900         1           0
1313   19  34.700         2  36397.57600         0           1
1314   30  23.655         3  18765.87545         0           1
1315   18  28.310         1  11272.33139         1           0
1316   19  20.600         0   1731.67700         0           0
1317   18  53.130         0   1163.46270         1           0
1318   35  39.710         4  19496.71917         1           0
1319   39  26.315         2   7201.70085         0           0
1320   31  31.065         3   5425.02335         1           0
1321   62  26.695         0  28101.33305         1           1
1322   62  38.830         0  12981.34570         1           0
1323   42  40.370         2  43896.37630         0           1
1324   31  25.935         1   4239.89265         1           0
1325   61  33.535         0  13143.33665         1           0
1326   42  32.870         0   7050.02130         0           0
1327   51  30.030         1   9377.90470         1           0
1328   23  24.225         2  22395.74424         0           0
1329   52  38.600         2  10325.20600         1           0
1330   57  25.740         2  12629.16560         0           0
1331   23  33.400         0  10795.93733         0           0
1332   52  44.700         3  11411.68500         0           0
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
indep_var = modified_dataset[['age', 'bmi', 'children','sex_male','smoker_yes']]
dep_var = modified_dataset[['charges']]

In [8]:
indep_var

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
5      31  25.740         0         0           0
6      46  33.440         1         0           0
7      37  27.740         3         0           0
8      37  29.830         2         1           0
9      60  25.840         0         0           0
10     25  26.220         0         1           0
11     62  26.290         0         0           1
12     23  34.400         0         1           0
13     56  39.820         0         0           0
14     27  42.130         0         1           1
15     19  24.600         1         1           0
16     52  30.780         1         0           0
17     23  23.845         0         1           0
18     56  40.300         0         1           0
19     30  35.300         0         1           1
20     60  36.005         0         0           0
21     30  32.400         1         0           0
22     18  34.100         0         1           0
23     34  31.920         1         0           1
24     37  28.025         2         1           0
25     59  27.720         3         0           0
26     63  23.085         0         0           0
27     55  32.775         2         0           0
28     23  17.385         1         1           0
29     31  36.300         2         1           1
...   ...     ...       ...       ...         ...
1308   25  30.200         0         0           1
1309   41  32.200         2         1           0
1310   42  26.315         1         1           0
1311   33  26.695         0         0           0
1312   34  42.900         1         1           0
1313   19  34.700         2         0           1
1314   30  23.655         3         0           1
1315   18  28.310         1         1           0
1316   19  20.600         0         0           0
1317   18  53.130         0         1           0
1318   35  39.710         4         1           0
1319   39  26.315         2         0           0
1320   31  31.065         3         1           0
1321   62  26.695         0         1           1
1322   62  38.830         0         1           0
1323   42  40.370         2         0           1
1324   31  25.935         1         1           0
1325   61  33.535         0         1           0
1326   42  32.870         0         0           0
1327   51  30.030         1         1           0
1328   23  24.225         2         0           0
1329   52  38.600         2         1           0
1330   57  25.740         2         0           0
1331   23  33.400         0         0           0
1332   52  44.700         3         0           0
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dep_var

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
5      3756.62160
6      8240.58960
7      7281.50560
8      6406.41070
9     28923.13692
10     2721.32080
11    27808.72510
12     1826.84300
13    11090.71780
14    39611.75770
15     1837.23700
16    10797.33620
17     2395.17155
18    10602.38500
19    36837.46700
20    13228.84695
21     4149.73600
22     1137.01100
23    37701.87680
24     6203.90175
25    14001.13380
26    14451.83515
27    12268.63225
28     2775.19215
29    38711.00000
...           ...
1308  33900.65300
1309   6875.96100
1310   6940.90985
1311   4571.41305
1312   4536.25900
1313  36397.57600
1314  18765.87545
1315  11272.33139
1316   1731.67700
1317   1163.46270
1318  19496.71917
1319   7201.70085
1320   5425.02335
1321  28101.33305
1322  12981.34570
1323  43896.37630
1324   4239.89265
1325  13143.33665
1326   7050.02130
1327   9377.90470
1328  22395.74424
1329  10325.20600
1330  12629.16560
1331  10795.93733
1332  11411.68500
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
# Training and test data split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(indep_var, dep_var, test_size = 1/3, random_state = 0)

In [11]:
x_train

      age     bmi  children  sex_male  smoker_yes
482    18  31.350         0         0           0
338    50  32.300         1         1           1
356    46  43.890         3         1           0
869    25  24.300         3         0           0
182    22  19.950         3         1           0
704    47  29.545         1         0           0
733    48  27.265         1         0           0
805    45  35.815         0         0           0
867    57  43.700         1         1           0
743    31  26.620         0         0           0
1175   22  27.100         0         0           0
541    20  31.790         2         0           0
1214   27  31.255         1         0           0
395    46  19.855         0         1           0
618    19  33.110         0         0           1
278    59  31.790         2         1           0
239    44  38.060         1         1           0
688    47  24.100         1         0           0
833    58  34.390         0         1           0
453    20  29.735         0         1           0
110    54  33.630         1         1           0
1086   55  28.975         0         1           0
1242   22  21.280         3         0           0
464    19  25.175         0         1           0
893    47  38.940         2         1           1
1136   44  25.000         1         0           0
987    45  27.645         1         0           0
1048   25  22.515         1         0           0
491    61  25.080         0         0           0
922    38  31.000         1         1           0
...   ...     ...       ...       ...         ...
659    57  28.785         4         0           0
797    30  22.895         1         0           0
1315   18  28.310         1         1           0
1201   46  40.375         2         1           0
99     38  19.300         0         1           1
850    37  30.780         0         0           1
448    40  29.600         0         0           0
755    31  27.645         2         1           0
976    48  40.150         0         1           0
115    60  28.595         0         1           0
777    45  39.805         0         1           0
72     53  28.100         3         0           0
845    60  32.450         0         0           1
537    46  30.200         2         0           0
849    55  32.775         0         1           0
174    24  33.345         0         0           0
87     56  27.200         0         0           0
551    32  28.930         0         0           0
705    33  32.900         2         0           0
314    27  31.400         0         0           1
600    18  39.160         0         0           0
1094   50  33.700         4         0           0
599    52  37.525         2         0           0
277    22  24.300         0         0           0
1033   18  21.565         0         1           1
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[892 rows x 5 columns]

In [12]:
x_test

      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
981    34  21.375         0         1           0
31     18  26.315         0         0           0
1256   51  36.385         3         0           0
1219   38  30.210         3         0           0
1320   31  31.065         3         1           0
613    34  19.000         3         0           0
1107   50  26.220         2         0           0
1263   43  29.900         1         0           0
406    33  24.310         0         0           0
795    27  28.500         0         1           1
970    50  28.160         3         0           0
824    60  24.320         0         1           0
141    26  32.490         1         1           0
1173   38  29.260         2         1           0
1042   20  30.685         0         1           1
966    51  24.795         2         1           1
467    56  33.820         2         0           0
1098   52  30.875         0         0           0
757    47  27.830         0         0           1
1097   22  33.770         0         1           0
319    32  37.335         1         1           0
1286   28  17.290         0         0           0
459    40  33.000         3         0           0
5      31  25.740         0         0           0
517    45  30.495         2         1           0
...   ...     ...       ...       ...         ...
81     45  38.285         0         0           0
397    21  31.020         0         1           0
267    59  32.395         3         0           0
77     21  35.530         0         1           0
769    38  19.475         2         0           0
942    18  40.185         0         0           0
386    58  39.050         0         0           0
533    37  36.190         0         1           0
950    57  18.335         0         1           0
856    48  33.110         0         0           1
979    36  29.920         0         0           0
1093   22  30.400         0         0           1
1100   33  19.095         2         0           1
1166   57  40.370         0         1           0
88     46  27.740         0         0           0
1047   22  52.580         1         1           1
652    48  31.130         0         0           0
625    29  26.030         0         0           0
563    50  44.770         1         1           0
1011   43  20.130         2         1           1
500    29  34.400         0         1           1
117    29  27.940         1         0           1
520    50  27.360         0         0           0
422    40  32.775         1         1           1
294    25  26.800         3         1           0
261    20  26.840         1         0           1
1271   25  34.485         0         0           0
1313   19  34.700         2         0           1
2      28  33.000         3         1           0
405    52  38.380         2         0           0

[446 rows x 5 columns]

In [13]:
x_train.shape

(892, 5)

In [14]:
x_test.shape

(446, 5)

In [15]:
y_train

          charges
482    1622.18850
338   41919.09700
356    8944.11510
869    4391.65200
182    4005.42250
704    8930.93455
733    9447.25035
805    7731.85785
867   11576.13000
743    3757.84480
1175   2154.36100
541    3056.38810
1214   3956.07145
395    7526.70645
618   34439.85590
278   12928.79110
239    7152.67140
688   26236.57997
833   11743.93410
453    1769.53165
110   10825.25370
1086  10796.35025
1242   4296.27120
464    1632.03625
893   44202.65360
1136   7623.51800
987   28340.18885
1048   3594.17085
491   24513.09126
922    5488.26200
...           ...
659   14394.39815
797    4719.52405
1315  11272.33139
1201   8733.22925
99    15820.69900
850   37270.15120
448    5910.94400
755    5031.26955
976    7804.16050
115   30259.99556
777    7448.40395
72    11741.72600
845   45008.95550
537    8825.08600
849   10601.63225
174    2855.43755
87    11073.17600
551    3972.92470
705    5375.03800
314   34838.87300
600    1633.04440
1094  11299.34300
599   33471.97189
277    2150.46900
1033  13747.87235
763    3070.80870
835    7160.33030
1216   5415.66120
559    1646.42970
684    4766.02200

[892 rows x 1 columns]

In [16]:
y_test

          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
981    4500.33925
31     2198.18985
1256  11436.73815
1219   7537.16390
1320   5425.02335
613    6753.03800
1107  10493.94580
1263   7337.74800
406    4185.09790
795   18310.74200
970   10702.64240
824   12523.60480
141    3490.54910
1173   6457.84340
1042  33475.81715
966   23967.38305
467   12643.37780
1098  23045.56616
757   23065.42070
1097   1674.63230
319    4667.60765
1286   3732.62510
459    7682.67000
5      3756.62160
517    8413.46305
...           ...
81     7935.29115
397   16586.49771
267   14590.63205
77     1532.46970
769    6933.24225
942    2217.46915
386   11856.41150
533   19214.70553
950   11534.87265
856   40974.16490
979    4889.03680
1093  33907.54800
1100  16776.30405
1166  10982.50130
88     8026.66660
1047  44501.39820
652    8280.62270
625    3736.46470
563    9058.73030
1011  18767.73770
500   36197.69900
117   19107.77960
520   25656.57526
422   39125.33225
294    3906.12700
261   17085.26760
1271   3021.80915
1313  36397.57600
2      4449.46200
405   11396.90020

[446 rows x 1 columns]

In [17]:
y_train.shape

(892, 1)

In [18]:
y_test.shape

(446, 1)

In [28]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression(fit_intercept=False)
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
         normalize=False)

In [29]:
weight=regressor.coef_
print("Weight of the model={}".format(weight))
bais=regressor.intercept_
print("Intercept of the model={}".format(bais))

Weight of the model=[[  199.9849963     34.80896984   342.96418146  -714.04772677
  22616.98650384]]
Intercept of the model=0.0

In [30]:
weight

array([[  199.9849963 ,    34.80896984,   342.96418146,  -714.04772677,
        22616.98650384]])

In [31]:
bais

0.0

In [32]:
y_pred = regressor.predict(x_test)

In [33]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [34]:
r_score

0.7584513449219452

In [35]:
import pickle
modelfile = 'RegressionModel_MLR.sav'
pickle.dump(regressor, open(modelfile,'wb'))