In [1]:
# Importing libraries
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Loading the dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
5      31  female  25.740         0     no   3756.62160
6      46  female  33.440         1     no   8240.58960
7      37  female  27.740         3     no   7281.50560
8      37    male  29.830         2     no   6406.41070
9      60  female  25.840         0     no  28923.13692
10     25    male  26.220         0     no   2721.32080
11     62  female  26.290         0    yes  27808.72510
12     23    male  34.400         0     no   1826.84300
13     56  female  39.820         0     no  11090.71780
14     27    male  42.130         0    yes  39611.75770
15     19    male  24.600         1     no   1837.23700
16     52  female  30.780         1     no  10797.33620
17     23    male  23.845         0     no   2395.17155
18     56    male  40.300         0     no  10602.38500
19     30    male  35.300         0    yes  36837.46700
20     60  female  36.005         0     no  13228.84695
21     30  female  32.400         1     no   4149.73600
22     18    male  34.100         0     no   1137.01100
23     34  female  31.920         1    yes  37701.87680
24     37    male  28.025         2     no   6203.90175
25     59  female  27.720         3     no  14001.13380
26     63  female  23.085         0     no  14451.83515
27     55  female  32.775         2     no  12268.63225
28     23    male  17.385         1     no   2775.19215
29     31    male  36.300         2    yes  38711.00000
...   ...     ...     ...       ...    ...          ...
1308   25  female  30.200         0    yes  33900.65300
1309   41    male  32.200         2     no   6875.96100
1310   42    male  26.315         1     no   6940.90985
1311   33  female  26.695         0     no   4571.41305
1312   34    male  42.900         1     no   4536.25900
1313   19  female  34.700         2    yes  36397.57600
1314   30  female  23.655         3    yes  18765.87545
1315   18    male  28.310         1     no  11272.33139
1316   19  female  20.600         0     no   1731.67700
1317   18    male  53.130         0     no   1163.46270
1318   35    male  39.710         4     no  19496.71917
1319   39  female  26.315         2     no   7201.70085
1320   31    male  31.065         3     no   5425.02335
1321   62    male  26.695         0    yes  28101.33305
1322   62    male  38.830         0     no  12981.34570
1323   42  female  40.370         2    yes  43896.37630
1324   31    male  25.935         1     no   4239.89265
1325   61    male  33.535         0     no  13143.33665
1326   42  female  32.870         0     no   7050.02130
1327   51    male  30.030         1     no   9377.90470
1328   23  female  24.225         2     no  22395.74424
1329   52    male  38.600         2     no  10325.20600
1330   57  female  25.740         2     no  12629.16560
1331   23  female  33.400         0     no  10795.93733
1332   52  female  44.700         3     no  11411.68500
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
datasets = pd.get_dummies(dataset, drop_first = True)

In [5]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
5      31  25.740         0   3756.62160         0           0
6      46  33.440         1   8240.58960         0           0
7      37  27.740         3   7281.50560         0           0
8      37  29.830         2   6406.41070         1           0
9      60  25.840         0  28923.13692         0           0
10     25  26.220         0   2721.32080         1           0
11     62  26.290         0  27808.72510         0           1
12     23  34.400         0   1826.84300         1           0
13     56  39.820         0  11090.71780         0           0
14     27  42.130         0  39611.75770         1           1
15     19  24.600         1   1837.23700         1           0
16     52  30.780         1  10797.33620         0           0
17     23  23.845         0   2395.17155         1           0
18     56  40.300         0  10602.38500         1           0
19     30  35.300         0  36837.46700         1           1
20     60  36.005         0  13228.84695         0           0
21     30  32.400         1   4149.73600         0           0
22     18  34.100         0   1137.01100         1           0
23     34  31.920         1  37701.87680         0           1
24     37  28.025         2   6203.90175         1           0
25     59  27.720         3  14001.13380         0           0
26     63  23.085         0  14451.83515         0           0
27     55  32.775         2  12268.63225         0           0
28     23  17.385         1   2775.19215         1           0
29     31  36.300         2  38711.00000         1           1
...   ...     ...       ...          ...       ...         ...
1308   25  30.200         0  33900.65300         0           1
1309   41  32.200         2   6875.96100         1           0
1310   42  26.315         1   6940.90985         1           0
1311   33  26.695         0   4571.41305         0           0
1312   34  42.900         1   4536.25900         1           0
1313   19  34.700         2  36397.57600         0           1
1314   30  23.655         3  18765.87545         0           1
1315   18  28.310         1  11272.33139         1           0
1316   19  20.600         0   1731.67700         0           0
1317   18  53.130         0   1163.46270         1           0
1318   35  39.710         4  19496.71917         1           0
1319   39  26.315         2   7201.70085         0           0
1320   31  31.065         3   5425.02335         1           0
1321   62  26.695         0  28101.33305         1           1
1322   62  38.830         0  12981.34570         1           0
1323   42  40.370         2  43896.37630         0           1
1324   31  25.935         1   4239.89265         1           0
1325   61  33.535         0  13143.33665         1           0
1326   42  32.870         0   7050.02130         0           0
1327   51  30.030         1   9377.90470         1           0
1328   23  24.225         2  22395.74424         0           0
1329   52  38.600         2  10325.20600         1           0
1330   57  25.740         2  12629.16560         0           0
1331   23  33.400         0  10795.93733         0           0
1332   52  44.700         3  11411.68500         0           0
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
# Split Independent/Input and Dependent/Output variables
indep_var = datasets[['age', 'bmi', 'children','sex_male','smoker_yes']]
dep_var = datasets[['charges']]

In [8]:
indep_var

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
5      31  25.740         0         0           0
6      46  33.440         1         0           0
7      37  27.740         3         0           0
8      37  29.830         2         1           0
9      60  25.840         0         0           0
10     25  26.220         0         1           0
11     62  26.290         0         0           1
12     23  34.400         0         1           0
13     56  39.820         0         0           0
14     27  42.130         0         1           1
15     19  24.600         1         1           0
16     52  30.780         1         0           0
17     23  23.845         0         1           0
18     56  40.300         0         1           0
19     30  35.300         0         1           1
20     60  36.005         0         0           0
21     30  32.400         1         0           0
22     18  34.100         0         1           0
23     34  31.920         1         0           1
24     37  28.025         2         1           0
25     59  27.720         3         0           0
26     63  23.085         0         0           0
27     55  32.775         2         0           0
28     23  17.385         1         1           0
29     31  36.300         2         1           1
...   ...     ...       ...       ...         ...
1308   25  30.200         0         0           1
1309   41  32.200         2         1           0
1310   42  26.315         1         1           0
1311   33  26.695         0         0           0
1312   34  42.900         1         1           0
1313   19  34.700         2         0           1
1314   30  23.655         3         0           1
1315   18  28.310         1         1           0
1316   19  20.600         0         0           0
1317   18  53.130         0         1           0
1318   35  39.710         4         1           0
1319   39  26.315         2         0           0
1320   31  31.065         3         1           0
1321   62  26.695         0         1           1
1322   62  38.830         0         1           0
1323   42  40.370         2         0           1
1324   31  25.935         1         1           0
1325   61  33.535         0         1           0
1326   42  32.870         0         0           0
1327   51  30.030         1         1           0
1328   23  24.225         2         0           0
1329   52  38.600         2         1           0
1330   57  25.740         2         0           0
1331   23  33.400         0         0           0
1332   52  44.700         3         0           0
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dep_var

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
5      3756.62160
6      8240.58960
7      7281.50560
8      6406.41070
9     28923.13692
10     2721.32080
11    27808.72510
12     1826.84300
13    11090.71780
14    39611.75770
15     1837.23700
16    10797.33620
17     2395.17155
18    10602.38500
19    36837.46700
20    13228.84695
21     4149.73600
22     1137.01100
23    37701.87680
24     6203.90175
25    14001.13380
26    14451.83515
27    12268.63225
28     2775.19215
29    38711.00000
...           ...
1308  33900.65300
1309   6875.96100
1310   6940.90985
1311   4571.41305
1312   4536.25900
1313  36397.57600
1314  18765.87545
1315  11272.33139
1316   1731.67700
1317   1163.46270
1318  19496.71917
1319   7201.70085
1320   5425.02335
1321  28101.33305
1322  12981.34570
1323  43896.37630
1324   4239.89265
1325  13143.33665
1326   7050.02130
1327   9377.90470
1328  22395.74424
1329  10325.20600
1330  12629.16560
1331  10795.93733
1332  11411.68500
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
# Split data to train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(indep_var, dep_var, test_size = 1/3, random_state = 0)

In [43]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(splitter='random')
regressor = regressor.fit(x_train,y_train)

In [39]:
y_pred = regressor.predict(x_test)

In [40]:
from sklearn.metrics import r2_score
r_sq = r2_score(y_test, y_pred)

In [41]:
r_sq

0.7384799720698685

In [ ]:
# Save the model
import pickle

In [ ]:
filename = 'SVMRegressionModel.sav'
pickle.dump(regressor, open(filename,'wb'))

In [ ]:
get_model = pickle.load(open(filename,'rb'))

In [ ]:
rd_input = float(input("R&D:"))
admin_input = float(input("Admin:"))
mark_input = float(input("Marketing: "))
fol_input = int(input("State_flo 0 or 1:"))
new_input = int(input("State_new 0 or 1:"))

In [ ]:
result = get_model.predict([[rd_input,admin_input,mark_input,fol_input,new_input]])

In [ ]:
result